body {
  margin: 0;
  font-size: 16px;
  color: #333;
  font-family: sans-serif;
  background: #f4f4f4;
}

#main {
  margin: 15px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.consultant-info {
  margin: 14px;
  padding: 15px;
  border: #dcf1fb solid 2px;
}

.item-avatar {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

h1.item-name, h2.item-level {
  font-size: 17px;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
}

.item-level:before {
  content: "·";
}

.item-level:after {
  content: "·";
}

.item-introduction {
  color: #999;
  font-size: 14px;
  margin: 0 0 20px 0;
}

.certificate-pic {
  margin: 0 auto;
  max-width: 260px;
}

.certificate-pic > img {
  width: 100%;
  height: auto;
}
.point-box {
  display: inline-block;
  position: absolute;
  padding: 15px;
  background-color: #fff;
}
.point-box > div {
  width: 10px;
  height: 10px;
  background-color: #dcf1fb;
  border-radius: 50%;
}

.point-1 {
  top: 0;
  left: 0;
}

.point-2 {
  top: 0;
  right: 0;
}

.point-3 {
  bottom: 0;
  left: 0;
}

.point-4 {
  bottom: 0;
  right: 0;
}